{
    "description": "",
    "name": "",
    "spec": [
        {
            "required": true,
            "min": 0,
            "default": "http_app",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "app_name",
            "question_name": "App Name",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "10.10.10.10",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "vsip",
            "question_name": "Service IP",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "5.5.5.5",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "node1",
            "question_name": "Upstream 1",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "4.4.4.4",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "node2",
            "question_name": "Upstream 2",
            "type": "text"
        },
        {
            "question_description": "",
            "min": null,
            "default": "http_app",
            "max": null,
            "required": true,
            "choices": "http_app\nwaf_app",
            "variable": "app_type",
            "question_name": "App Type",
            "type": "multiplechoice"
        }
    ]
}