{
    "description": "",
    "name": "",
    "spec": [
        {
            "required": true,
            "min": 0,
            "default": "bigiq-lab-mod11",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "resource_prefix",
            "question_name": "Prefix used for creating all GCP resources",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "asia-northeast1",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "gcp_region",
            "question_name": "GCP Region to create BIG-IP",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "10.55.0.0/16",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "ip_cidr_range",
            "question_name": "CIDR of internal address range used by BIG-IP",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "asia-northeast1-b",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "gcp_zone",
            "question_name": "Zone for BIG-IP instance",
            "type": "text"
        }
    ]
}