{
    "description": "",
    "name": "",
    "spec": [
        {
            "required": true,
            "min": 0,
            "default": "bigiq-lab-mod11",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "resource_prefix",
            "question_name": "Prefix used for creating all GCP resources",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "asia-northeast1",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "gcp_region",
            "question_name": "GCP Region to create BIG-IP",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "asia-northeast1-b",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "gcp_zone",
            "question_name": "Zone for BIG-IP instance",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "admin",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "bigip_user",
            "question_name": "BIG-IP username",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "strongPassword1",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "bigip_password",
            "question_name": "BIG-IP Password",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "regkey_pool_name",
            "question_name": "Registration Key Pool Name",
            "type": "text"
        }
    ]
}