{
    "description": "",
    "name": "",
    "spec": [
        {
            "required": true,
            "min": 0,
            "default": "asia-northeast1",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "gcp_region",
            "question_name": "GCP Region of BIG-IP",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "asia-northeast1-b",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "gcp_zone",
            "question_name": "Zone of BIG-IP instance",
            "type": "text"
        }
    ]
}