{
    "description": "",
    "name": "",
    "spec": [
        {
            "required": true,
            "min": 0,
            "default": "192.168.1.245",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "bigip_mgmt",
            "question_name": "BIG-IP Management IP Address",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "admin",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "bigip_user",
            "question_name": "BIG-IP username",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "strongPassword",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "bigip_password",
            "question_name": "BIG-IP Password",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "regkey_pool_name",
            "question_name": "Registration Key Pool Name",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "yes",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "provision_asm",
            "question_name": "PROVISION WAF?",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "yes",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "provision_dns",
            "question_name": "PROVISION DNS?",
            "type": "text"
        }
    ]
}