{
    "description": "",
    "name": "",
    "spec": [
        {
            "required": true,
            "min": 0,
            "default": "username",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "user_name",
            "question_name": "User Name",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "First Last",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "display_name",
            "question_name": "Display Name: (First Last)",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "strongPassword1",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "user_password",
            "question_name": "Password",
            "type": "password"
        },
        {
            "required": true,
            "min": 0,
            "default": "testrole1",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "new_question": true,
            "variable": "role_name",
            "question_name": "Existing Role Name",
            "type": "text"
        }
    ]
}