{
    "description": "",
    "name": "",
    "spec": [
        {
            "required": true,
            "min": 0,
            "default": "",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "regkey_pool_name",
            "question_name": "Registration Key Pool Name",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "XXXX-XXXX-XXXX-XXXX-XXXX",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "regkey",
            "question_name": "Registration Key",
            "type": "text"
        },
        {
            "required": true,
            "min": 0,
            "default": "bigip1.local",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "bigip_name",
            "question_name": "BIG-IP NAME",
            "type": "text"
        }
    ]
}