{
    "description": "",
    "name": "",
    "spec": [
        {
            "required": true,
            "min": 0,
            "default": "{{ regkey_pool_name }}",
            "max": 1024,
            "question_description": "",
            "choices": "",
            "variable": "regkey_pool_name",
            "question_name": "Registration Key Pool Name",
            "type": "text"
        }
    ]
}